.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 9px 1rem;
}

@media (max-width: 1240px) {
  .header {
    flex-direction: column;
    height: 140px;
  }
}