@keyframes fontEffect {
    0% {
        background: linear-gradient(
                #363636, #c7c7c7);
        -webkit-background-clip: text;
        background-clip: text;
    }

    100% {
        background: linear-gradient(
                #c9c9c9, #353535);
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.logo {
    animation: fontEffect 2s linear infinite;
    color: transparent;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
}
