@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  box-sizing: border-box;
}

html {
  font-family: "VT323", monospace !important;
  font-size: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  background-color: #333;
  color: #ccc;
}

a:visited {
  color: #ccc;
}

nav a {
  margin-right: 1rem;
  color: #ccc;
}

.white-shadow-1 {
  border: 3px solid black !important;
  box-shadow: 3px 3px black, 5px 5px white;
}
