@import url(https://fonts.googleapis.com/css?family=VT323);

* {
  box-sizing: border-box;
}

html {
  font-family: "VT323", monospace !important;
  font-size: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  background-color: #333;
  color: #CCC;
}


a:visited{
  color: #CCC;
}

nav a{
  margin-right: 1rem;
}