.container {
  margin-bottom: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: solid 5px #181818;
  padding: 1rem;
  background-color: #444;
  box-shadow: 3px 3px #181818, 5px 5px #EEE;
}
